[user]
	email = peter.morlion@gmail.com
	name = Peter Morlion
[push]
	default = simple
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
        co = checkout
        br = branch
        st = status
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[pull]
        rebase = true
